:root {
  --background-color: rgb(248, 252, 250);
  --button-oragne-color: #ffa41b;
  --text-color: #222831;
  --overlay-color: rgba(248, 252, 250, 0.9);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  position: relative;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* main-nav */
.line {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: var(--background-color);
}

.main-nav {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  justify-content: space-between;
}
.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a {
  padding: 14px 16px;
  color: var(--text-color);
  font-size: 20px;
  border-radius: 3%;
}

.main-nav ul li a:hover {
  transition: all 0.5s ease-out;
  color: #f4f4f4;
  background: var(--button-oragne-color);
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 3.78rem;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 0.77rem 0.75rem;
}

.logo {
  color: #21bf73;
}

/* Showcase */
.showcase {
  width: 100%;
  height: 400px;
  background: url("../img/all.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.showcase h1 {
  margin-left: 2.5rem;
  padding: 0.8rem 1.3rem;
  font-weight: 750;
  color: var(--text-color);
  background-color: rgb(248, 252, 250, 0.5);
  border-radius: 2%;
  font-size: 2.2rem;
}

/* Food menu */
.more-btn {
  position: relative;
}

.food-nav {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  justify-content: space-between;
  border: 1px solid #f4f4f4;
}

.food-nav ul {
  display: flex;
  margin-left: 10px;
}

.food-nav ul li a,
.food-nav .more-btn a {
  padding: 8px 16px;
  margin-right: 10px;
  font-size: 20px;
  border-radius: 3%;
  color: var(--text-color);
}

.food-nav ul li a:hover,
.food-nav .more-btn a:hover {
  transition: all 0.5s ease-in-out;
  color: var(--text-color) !important;
  background-color: #f4f4f4;
}

.more-content {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.more-btn .more-content a {
  margin: 0;
}

.more-content a {
  display: block;
}

.active {
  transition: all 0.5s ease-in-out;
  color: #f4f4f4 !important;
  background-color: var(--button-oragne-color);
}

/* Food items */
.color-content {
  background-color: var(--background-color);
  padding-bottom: 25px;
  border-radius: 0 0 10px 10px;
}

.food-picture {
  width: 300px;
  height: 200px;
  background: url(https://picsum.photos/300);
  border-radius: 15px 15px 0 0;
}

.food-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-top: 25px;
}

.food-item {
  justify-self: center;
  background-color: #fff;
  border-radius: 5%;
  margin-bottom: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
  transition: scale(1);
}

.food-item:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}

.food-name,
.food-price {
  padding: 0.8rem;
  color: var(--text-color);
}

.food-price {
  font-size: 1.2rem;
}

.food-price .fa-wallet {
  color: #21bf73;
}

.food-name {
  font-size: 2rem;
}

/* Show more button */
.show-btn {
  background-color: var(--button-oragne-color);
  width: 95%;
  height: 50px;
  margin: 0 auto;
}
.show-btn a {
  display: block;
  padding: 0.8rem 1.3rem;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
}

.show-btn:hover {
  transition: all 0.5s ease-in-out;
  opacity: 0.7;
}

/* Footer */
.main-footer {
  padding: 1rem;
  margin-top: 50px;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  font-weight: 700;
}

/* Hamburger menu */
.menu-wrap {
  position: absolute;
  visibility: hidden;
  top: 0;
  z-index: 1;
}

/* checkbox */
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger line */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #21bf73;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease;
}

/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
}

/* Moves line down */
.menu-wrap .hamburger > div:after {
  top: 10px;
}

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 300vw;
  height: 300vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: var(--text-color);
  text-decoration: none;
  padding: 0.8rem 1.3rem;
  transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  transition: all 0.6s ease-in-out;
  background-color: var(--button-oragne-color);
  color: #f9fcfb;
}

.mobile-menu {
  position: relative;
}

.dropdown-content.mobile {
  background: none;
  display: none;
  position: absolute;
  box-shadow: none;
  right: -145px;
  top: 183px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.dropdown-content.mobile a {
  transition: all 0.5s ease-in-out;
  color: var(--text-color);
}

.dropdown-content.mobile a:hover {
  transition: all 0.5s ease-in-out;
  background-color: var(--button-oragne-color);
  color: #fff;
}

.show {
  display: block !important;
}

/* Media queries */
@media (min-width: 1061px) {
  .menu-wrap .toggler:checked ~ .menu {
    visibility: hidden;
  }

  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(0);
    transition-duration: var(--menu-speed);
  }

  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 0;
    transition: opacity 0.4s ease;
  }
}

@media (max-width: 1060px) {
  .food-items {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-wrap {
    visibility: visible;
    right: 5%;
  }

  .showcase h1 {
    width: 50%;
  }

  .main-nav .right-menu {
    display: none;
  }

  .main-nav .main-menu {
    display: none;
  }
}

/* Media querie for food menu */
@media (max-width: 830px) {
  .food-nav ul {
    flex-direction: column;
  }

  .menu-wrap {
    right: 6%;
  }

  .food-nav {
    height: 100%;
    align-items: flex-start;
  }

  .food-nav ul li a {
    display: inline-block;
  }

  .food-nav ul li:not(:last-child) a {
    margin-bottom: 10px;
  }
}

@media (max-width: 700px) {
  .food-items {
    grid-template-columns: 1fr;
  }

  .menu-wrap {
    right: 10%;
  }

  .showcase h1 {
    font-size: 1.85rem;
  }
}
