<!-- Main nav-bar -->
<div class="line">
  <div class="container">
    <!-- Nav -->
    <nav class="main-nav">
      <a href="/"><i class="logo fas fa-utensils fa-3x"></i></a>


      <ul class="right-menu">
        <li class="dropdown">
          <a class="location">Moscow <i class="fas fa-map-marker-alt fa-xs"></i></a>
          <div class="dropdown-content">
            <a href="#">Moscow</a>
            <a href="#">Moscow</a>
            <a href="#">Moscow</a>
            <a href="#">Moscow</a>
          </div>
        </li>

        <li>
          <a href="/user/signin"> Sign In <i class="fas fa-sign-in-alt fa-xs"></i> </a>
        </li>

        <li>
          <a href="/user/signup"> Sign Up <i class="fas fa-user-plus fa-xs"></i> </a>
        </li>

        <li>
          <a href="">Cart <i class="fas fa-shopping-cart"></i></a>
        </li>
      </ul>

      <div class="menu-wrap">
        <input type="checkbox" class="toggler" />
        <div class="hamburger">
          <div></div>
        </div>
        <div class="menu">
          <div>
            <div>
              <ul class="mobile-menu">
                <li><a class="mobile-location">Moscow <i class="fas fa-map-marker-alt fa-xs"></i></a></li>
                <li class="location-item"><a href="#">Moscow</a></li>
                <li class="location-item"><a href="#">Moscow</a></li>
                <li class="location-item"><a href="#">Moscow</a></li>
                <li>
                  <a href="/user/signin">
                    Sign In <i class="fas fa-sign-in-alt fa-xs"></i>
                  </a>
                </li>

                <li>
                  <a href="/user/signup"> Sign Up <i class="fas fa-user-plus fa-xs"></i> </a>
                </li>

                <li>
                  <a href="">Cart <i class="fas fa-shopping-cart"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>