<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Are you hungry? Too lazy to go outside and buy some food? We feel you! Order the food on our website and we will deliver it to your house!" />
  <meta name="keywords" content="order food, restaurant, russian, georgian, asian" />
  <base href="/" />

  <link rel="shortcut icon" type="image/x-icon" href="./img/icon.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <link rel="stylesheet" href="./css/style.css" />
  <title>Order Food</title>
</head>

<body>
  <%- include("../partials/header"); -%>
  <%- body %>

  <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js"
    integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
  <script src="./js/main.js"></script>
</body>

</html>