:root {
  --background-color: rgb(248, 252, 250);
  --button-oragne-color: #ffa41b;
  --text-color: #222831;
  --overlay-color: rgba(248, 252, 250, 0.9);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  position: relative;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  padding: 0.7rem 1.3rem;
  background-color: #21bf73;
  color: #fff;
  border: none;
  font-size: 1.4rem;
}

button:hover {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}

/* main-nav */
.line {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: var(--background-color);
}

.main-nav {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  justify-content: space-between;
  position: relative;
}
.main-nav .right-menu {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a {
  padding: 14px 16px;
  color: var(--text-color);
  font-size: 20px;
  border-radius: 3%;
}

.main-nav ul li a:hover {
  transition: all 0.5s ease-out;
  color: #f4f4f4;
  background: var(--button-oragne-color);
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 3.78rem;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 0.77rem 0.75rem;
}

.logo {
  color: #21bf73;
}

/* Showcase */
.showcase {
  width: 100%;
  height: 400px;
  background: url("../img/types/all.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.showcase h1 {
  margin-left: 2.5rem;
  padding: 0.8rem 1.3rem;
  font-weight: 750;
  color: var(--text-color);
  background-color: rgb(248, 252, 250, 0.6);
  border-radius: 2%;
  font-size: 2.2rem;
}

/* Food menu */
.more-btn {
  position: relative;
}

.food-nav {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  justify-content: space-between;
  border: 1px solid #f4f4f4;
}

.food-nav ul {
  display: flex;
  margin-left: 10px;
}

.food-nav ul li a,
.food-nav .more-btn a {
  padding: 8px 16px;
  margin-right: 10px;
  font-size: 20px;
  border-radius: 3%;
  color: var(--text-color);
}

.food-nav ul li a:hover,
.food-nav .more-btn a:hover {
  transition: all 0.5s ease-in-out;
  color: var(--text-color) !important;
  background-color: #f4f4f4;
}

.more-content {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.more-btn .more-content a {
  margin: 0;
}

.more-content a {
  display: block;
}

.active {
  transition: all 0.5s ease-in-out;
  color: #f4f4f4 !important;
  background-color: var(--button-oragne-color);
}

/* Food items */
.color-content {
  background-color: var(--background-color);
  padding-bottom: 25px;
  border-radius: 0 0 10px 10px;
}

.food-picture {
  width: 300px;
  height: 200px;
  /* stub */
  background: url(https://picsum.photos/300);
  border-radius: 15px 15px 0 0;
}

.food-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-top: 25px;
}

.food-item {
  justify-self: center;
  background-color: #fff;
  border-radius: 5%;
  margin-bottom: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;
  transition: scale(1);
  width: 300px;
}

.food-item .product-info {
  display: block;
  width: 300px;
}

.food-item:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}

.food-name {
  padding: 0.8rem;
  color: var(--text-color);
}

.food-price-add-container {
  font-size: 1.3rem;
  padding: 0.8rem 1.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 0.6fr;
}

.food-price-add-container .plus {
  display:flex;
  width: 50px;
  height:50px;
  text-align: center;
  background-color: #ffa41b;
  border-radius: 50%;
  color: #fff;
  justify-self: end;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.food-price-add-container .plus:hover,
.food-price-add-container .info:hover {
  transition: all 0.3s ease-in-out;
  opacity:0.8;
}

.food-price-add-container .info {
  justify-self: end;
  align-self: center;
  background-color: #21bf73;
  color: #fff;
  padding: 0.8rem 1.3rem;
  border-radius: 50px;
}

.food-price-add-container .price {
  align-self: center;
  font-weight: 800;
  justify-self: start;
  padding: 0.8rem 0.5rem;
  border-radius: 50px;
}

.food-price-add-container i {
  align-self:center;
}

.food-price-add-container {
  font-family: Arial, Helvetica, sans-serif;
  color: #222831;
}

.food-name {
  font-size: 1.5rem;
  height: 70px;
}

/* Show more button */
.show-btn {
  background-color: var(--button-oragne-color);
  width: 95%;
  height: 50px;
  margin: 0 auto;
  border-radius: 2%;
}
.show-btn a {
  display: block;
  padding: 0.8rem 1.3rem;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
}

.show-btn:hover {
  transition: all 0.5s ease-in-out;
  opacity: 0.7;
}

/* Footer */
.main-footer {
  padding: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  font-weight: 700;
  margin-top: 50px;
}

/* Hamburger menu */
.main-nav .menu-wrap {
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 45px;
  z-index: 1;
}

/* checkbox */
.main-nav .menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.main-nav .menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger line */
.main-nav .menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #21bf73;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease;
}

/* Top and bottom lines */
.main-nav .menu-wrap .hamburger > div:before,
.main-nav .menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
}

/* Moves line down */
.main-nav .menu-wrap .hamburger > div:after {
  top: 10px;
}

/* Toggler animate */
.main-nav .menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turn lines into X */
.main-nav .menu-wrap .toggler:checked + .hamburger > div:before,
.main-nav .menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate on hover when checked */
.main-nav .menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show menu */
.main-nav .menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.main-nav .menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.main-nav .menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.main-nav .menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav .menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 300vw;
  height: 300vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.main-nav .menu-wrap .menu > div > div {
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.main-nav .menu-wrap .menu > div > div > ul > li {
  list-style: none;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.main-nav .menu-wrap .menu > div > div > ul > li > a {
  color: var(--text-color);
  text-decoration: none;
  padding: 0.8rem 1.3rem;
  transition: color 0.4s ease;
}

.main-nav .menu-wrap .menu > div > div > ul > li > a:hover {
  transition: all 0.6s ease-in-out;
  background-color: var(--button-oragne-color);
  color: #f9fcfb;
}

.mobile-menu {
  position: relative;
}

.location-item {
  display: none;
}

.dropdown-content.mobile a {
  transition: all 0.5s ease-in-out;
  color: var(--text-color);
}

.dropdown-content.mobile a:hover {
  transition: all 0.5s ease-in-out;
  background-color: var(--button-oragne-color);
  color: #fff;
}

/* Global for forms */
.input {
  display: inline-block;
  height: 40px;
  width: 300px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  background-color: var(--background-color);
  border: 2px solid #21bf73;
  padding-left: 0.8rem;
  color: var(--text-color);
  border-radius: 5px;
}

.error {
  padding-left: 0.8rem;
  border: 2px solid #ebccd1;
  border-radius: 5px;
  margin-bottom:10px;
  background-color: #f2dede;
  color: #a94442;
}

.error p {
  font-size: 1.3rem;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* signin form */
#signin-form, #signup-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.not-signin-yet {
  margin-bottom: 10px;
}

.not-signin-yet a {
  color: #21bf73;
}

#background-image-signin {
  background: url("../img/signin.jpg") no-repeat center center/cover;
}

#background-image-signup {
  background: url("../img/signup.jpg") no-repeat center center/cover;
}

#background-image-signin,
#background-image-signup {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  opacity: 0.85;
}

#signin-container, #signup-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  padding: 4rem 4rem;
  border-radius: 5%;
  z-index:2;
}

#signin-title, #signup-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--text-color);
}

#signin-title, #signup-title {
  margin-bottom: 10px;
  font-size: 1.6rem;
}

.show {
  display: block !important;
}

/* Media queries */
@media (min-width: 1101px) {
  .main-nav .menu-wrap .toggler:checked ~ .menu {
    visibility: hidden;
  }

  .main-nav .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(0);
    transition-duration: var(--menu-speed);
  }

  .main-nav .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 0;
    transition: opacity 0.4s ease;
  }
}

@media (max-width: 1100px) {
  .food-items {
    grid-template-columns: repeat(2, 1fr);
  }

  .showcase h1 {
    width: 50%;
  }
  
}

/* Media querie for food menu */
@media (max-width: 830px) {
  .food-nav ul {
    flex-direction: column;
  }

  .food-nav {
    height: 100%;
    align-items: flex-start;
  }

  .food-nav ul li a {
    display: inline-block;
  }

  .food-nav ul li:not(:last-child) a {
    margin-bottom: 10px;
  }
}

@media (max-width: 700px) {
  .food-items {
    grid-template-columns: 1fr;
  }

  .showcase h1 {
    font-size: 1.85rem;
  }

  .main-nav .right-menu {
    display: none;
  }

  .main-nav .menu-wrap {
    visibility: visible;
  }
}


