<div id="background-image-checkout" class="img"></div>
<form id="checkout-form">

  <div id="checkout-container">
    <h1>Checkout</h1>

    <div id="checkout-total-price-wrapper">
      <p>Your Total: 55$</p>
    </div>

    <div id="checkout-name-wrapper">
      <label>Name</label>
      <input type="text" class="input" placeholder="John">
    </div>

    <div id="checkout-address-wrapper">
      <label>Address</label>
      <input type="text" class="input" placeholder="San Francisco CA 94116">
    </div>

    <div id="checkout-card-holder-name-wrapper">
      <label>Card Holder Name</label>
      <input type="text" class="input" placeholder="John Smith">
    </div>

    <div id="checkout-credit-card-number-wrapper">
      <label>Credit Card Number</label>
      <input type="text" class="input" placeholder="4242 4242 4242 4242">
    </div>

    <div id="checkout-expiration-month-wrapper">
      <label>Expiration Month</label>
      <input type="text" class="input" placeholder="12">
    </div>

    <div id="checkout-expiration-year-wrapper">
      <label>Expiration Year</label>
      <input type="text" class="input" placeholder="2025">
    </div>

    <div id="checkout-cvc-wrapper">
      <label>Expiration Year</label>
      <input type="text" class="input" placeholder="333">
    </div>

    <button type="submit">Buy Now</button>
  </div>
</form>