<div class="container">
  <!-- Showcase -->
  <header class="showcase">
    <h1>Fast delivery to Moscow.</h1>
  </header>

  <!-- Food-menu -->
  <div class="food-nav">
    <ul>
      <li><a href="">All</a></li>
      <li><a href="">Burgers</a></li>
      <li><a href="">Sushi</a></li>
      <li><a href="">Pizza</a></li>
      <li><a href="">Healthy</a></li>
      <li><a href="">Vegetarian</a></li>
    </ul>

    <div class="more-btn">
      <a>More <i class="fas fa-angle-down"></i></a>
      <div class="more-content">
        <a href="">Russian</a>
        <a href="">Asian</a>
      </div>
    </div>
  </div>

  <div class="color-content">
    <!-- Food items -->
    <div class="food-items">
      <div class="food-item">
        <a href="">
          <div class="food-picture"></div>
          <h3 class="food-name">Pizza</h3>
          <p class="food-price">
            <i class="fas fa-wallet"></i> <i class="fas fa-dollar-sign">20</i>
          </p>
        </a>
      </div>

      <div class="food-item">
        <a href="">
          <div class="food-picture"></div>
          <h3 class="food-name">Pizza</h3>
          <p class="food-price">
            <i class="fas fa-wallet"></i> <i class="fas fa-dollar-sign">20</i>
          </p>
        </a>
      </div>

      <div class="food-item">
        <a href="">
          <div class="food-picture"></div>
          <h3 class="food-name">Pizza</h3>
          <p class="food-price">
            <i class="fas fa-wallet"></i> <i class="fas fa-dollar-sign">20</i>
          </p>
        </a>
      </div>

    </div>

    <!-- Show more button -->
    <div class="show-btn">
      <a href="#">Show more <i class="fas fa-angle-down"></i></a>
    </div>
  </div>
</div>