<div class="container">
  <!-- Showcase -->
  <header class="showcase" style="background: url('<%= mainImage %>') no-repeat center center/cover">
    <h1>Fast delivery to Moscow.</h1>
  </header>

  <!-- Food-menu -->
  <div class="food-nav">
    <ul>
      <li><a href="/food/burgers">Burgers</a></li>
      <li><a href="/food/sushi">Sushi</a></li>
      <li><a href="/food/pizza">Pizza</a></li>
      <li><a href="/food/healthy">Healthy</a></li>
      <li><a href="/food/vegetarian">Vegetarian</a></li>
    </ul>

    <div class="more-btn">
      <a>More <i class="fas fa-angle-down"></i></a>
      <div class="more-content">
        <a href="/food/russian">Russian</a>
        <a href="/food/asian">Asian</a>
      </div>
    </div>
  </div>

  <div class="color-content">
    <!-- Food items -->
    <div class="food-items">

      <% products.forEach((product) => {%>
      <div class="food-item">
        <a href="">
          <div class="food-picture" style="background:url('<%= product.imagePath %>') no-repeat center center/cover">
          </div>
          <h3 class="food-name"><%= product.title %></h3>
          <p class="food-price">
            <i class="fas fa-wallet"></i> <i class="fas fa-dollar-sign"><%= product.price %></i>
          </p>
        </a>
      </div>
      <% }); %>

    </div>

    <!-- Show more button -->
    <div class="show-btn">
      <a href="#">Show more <i class="fas fa-angle-down"></i></a>
    </div>
  </div>
</div>

<footer class="main-footer">
  Yarepka Shop &copy <span class="year"></span>
</footer>